<div class="shortcutPlugin" style="background-image:url('../src/plugins/desktop/computer.png');background-repeat:no-repeat;background-position:right top;">
</div>

<script language="javascript" type="text/javascript">
  $(".shortcutPlugin").draggable({ containment: 'parent', cursor: 'hand'});
</script>