<div id="notes" class="newbox ui-draggable" style="padding:0px;position: absolute; left: 67px; top: 44px;">
	<div style="background-color:#CAECF8;width:100%;height:25px;"/>
	<div class="textArea">
		<span>A JQuery extendible portal framework that hosts collection of customizable gadgets.</span>
	</div>
</div>

<script language="javascript" type="text/javascript">
  $("#notes").draggable();
</script>